{% extends "base_logged_in.html" %}
{% block title %}我的资料页{% endblock %}
{% block content %}

{% if user['username'] == current_user.username %}
{% if not user['password_questions'] %}
<p class="text-warning">您还没有设置密保问题，这将导致您无法进行密码找回！</p>
{% endif %}
<h2>Hello, {{ user.username }}</h2>
<div class="row">
    <div class="col-md-4 col-sm-4"><p><span class="fui-check"></span> 注册时间 {{ momentjs(user.register_time).format('YYYY-MM-DD HH:mm') }}</p></div>
    <div class="col-md-4 col-sm-4"><p><span class="fui-mail"></span> 注册邮箱 {{ user.email }}</p></div>
    <div class="col-md-4 col-sm-4"><p><span class="fui-cmd"></span> 权限
        {% if user.permission == 5 %}<span class="text-info">普通用户</span>{% endif %}
        {% if user.permission == 9 %}<span class="text-danger">管理员</span>{% endif %}
    </p></div>
    <div class="col-md-4 col-sm-4"><p><span class="fui-upload"></span> 上次登录 {{ momentjs(user.last_login_time).format('YYYY-MM-DD HH:mm') }}</p></div>
    {% if user.location %}
    <div class="col-md-4 col-sm-4"><p><span class="fui-location"></span> <a href="http://ditu.amap.com/search?query={{ user.location }}" target="_blank">{{ user.location }}</a></p></div>
    {% endif %}
</div>
<h5>个人简介</h5>
<blockquote>
    <p>{{ user.about_me }}</p>
</blockquote>

<h5>我正在关注</h5>
{% if user.following[0] %}
<div class="row">
    {% for u in user.following %}
    <div class="col-md-3 col-sm-3">
        <div class="col-md-3 col-sm-3">
            <p><a href="{{ url_for('profile.user',username=u) }}" target="_blank">{{ u }}</a></p>
        </div>
        <div class="col-md-9 col-sm-9">
            <p><a href="{{ url_for('profile.unfollow',username=u) }}" class="btn btn-default">取消关注</a></p>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
<p>还没有关注任何人。</p>
{% endif %}
{% else %}
<h1>未知错误</h1>
{% endif%}
{% endblock %}