{% extends "base_logged_in.html" %}

{% block content %}
<h1>修改密保</h1>
<form role="form" action="{{ action }}" method="post">
    <div class="form-group">
        {{ form.hidden_tag() }}
    </div>

    {% if form.question1.errors %}
    <div class="form-group has-error">
        <label>自定义密保问题1</label>
        {{ form.question1(class="form-control",placeholder=form.question1.label.text) }}
        <p class="text-danger">
        {% for error in form.question1.errors %}
            {{ error }}
        {% endfor %}
        </p>
    {% else %}
    <div class="form-group">
        <label>自定义密保问题1</label>
        {{ form.question1(class="form-control",placeholder=form.question1.label.text) }}
    </div>
    {% endif %}

    {% if form.answer1.errors %}
    <div class="form-group has-error">
        <label>答案1</label>
        {{ form.answer1(class="form-control",placeholder=form.answer1.label.text) }}
        <p class="text-danger">
        {% for error in form.answer1.errors %}
            {{ error }}
        {% endfor %}
        </p>
    {% else %}
    <div class="form-group">
        <label>答案1</label>
        {{ form.answer1(class="form-control",placeholder=form.answer1.label.text) }}
    </div>
    {% endif %}

    {% if form.question2.errors %}
    <div class="form-group has-error">
        <label>自定义密保问题2</label>
        {{ form.question2(class="form-control",placeholder=form.question2.label.text) }}
        <p class="text-danger">
        {% for error in form.question2.errors %}
            {{ error }}
        {% endfor %}
        </p>
    {% else %}
    <div class="form-group">
        <label>自定义密保问题2</label>
        {{ form.question2(class="form-control",placeholder=form.question2.label.text) }}
    </div>
    {% endif %}

    {% if form.answer2.errors %}
    <div class="form-group has-error">
        <label>答案2</label>
        {{ form.answer2(class="form-control",placeholder=form.answer2.label.text) }}
        <p class="text-danger">
        {% for error in form.answer2.errors %}
            {{ error }}
        {% endfor %}
        </p>
    {% else %}
    <div class="form-group">
        <label>答案2</label>
        {{ form.answer2(class="form-control",placeholder=form.answer2.label.text) }}
    </div>
    {% endif %}

    <div class="form-group">
        {{ form.submit(class="btn btn-primary form-control") }}
    </div>
</form>

{% endblock %}