{% extends "base_logged_in.html" %}
{% block title %}修改密码{% endblock %}
{% block content %}
<h3>修改密码</h3>
<form role="form" action="{{ action }}" method="post">
    <div class="form-group">
        {{ form.hidden_tag() }}
    </div>

    {% if form.password.errors %}
    <div class="form-group has-error">
        <label>新密码</label>
        {{ form.password(class="form-control",placeholder=form.password.label.text) }}
        <p class="text-danger">
        {% for error in form.password.errors %}
            {{ error }}
        {% endfor %}
        </p>
    </div>
    {% else %}
    <div class="form-group">
        <label>新密码</label>
        {{ form.password(class="form-control",placeholder=form.password.label.text) }}
    </div>
    {% endif %}

    {% if form.password2.errors %}
    <div class="form-group has-error">
        <label>确认新密码</label>
        {{ form.password2(class="form-control",placeholder=form.password2.label.text) }}
        <p class="text-danger">
        {% for error in form.password2.errors %}
            {{ error }}
        {% endfor %}
        </p>
    </div>
    {% else %}
    <div class="form-group">
        <label>确认新密码</label>
        {{ form.password2(class="form-control",placeholder=form.password2.label.text) }}
    </div>
    {% endif %}

    <div class="form-group">
        {{ form.submit(class="btn btn-primary form-control") }}
    </div>
</form>

{% endblock %}