{% extends "base_logged_in.html" %}
{% block title %}{{ user['username'] }} - 资料{% endblock %}
{% block content %}
<div class="page-header">
<h1>
    <p>{{ user['username'] }}
    {% if current_user.is_authenticated %}
        {% if user['username'] in current_user.following %}
        <a href="{{ url_for('profile.unfollow',username=user['username']) }}" class="btn btn-default">取消关注</a>
        {% else %}
        <a href="{{ url_for('profile.follow',username=user['username']) }}" class="btn btn-success">关注</a>
        {% endif %}
    {% endif %}
    </p>
</h1>
</div>

{% if user.location %}
    <p>位置 <a href="http://ditu.amap.com/search?query={{ user.location }}" target="_blank">{{ user.location }}</a></p>
{% endif %}

<h3>个人简介</h3>
<blockquote>
    <p>{{ user.about_me }}</p>
</blockquote>

<h3><a data-toggle="collapse" href="#following" aria-expanded="false">关注列表<b class="caret"></b></a></h3>
<div class="collapse" id="following">
    {% if user.following[0] %}
    <div class="row">
        {% for u in user.following %}
        <div class="col-md-1 col-sm-1">
            <p class="text-center"><a href="{{ url_for('profile.user',username=u) }}">{{ u }}</a></p>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <p>还没有关注任何人。</p>
    {% endif %}
</div>
<h3>
    最新文章
    {% if blog_list[1] %}
    <small class="text-right"><a data-toggle="collapse" href="#article" aria-expanded="false">查看更多<b class="caret"></b></a></small>
    {% endif %}
</h3>
{% if blog_list[0] %}
<hr />
<h4><a href="{{ url_for('blog.article',blog_id=blog_list[0]['_id']) }}" target="_blank">{{ blog_list[0]['title'] }}</a></h4>
<p>{{ momentjs(blog_list[0]['create_time']).format('YYYY-MM-DD HH:mm') }}</p>
<p>{{ blog_list[0]['article'] | truncate(100) }}</p>
<div class="collapse" id="article">
{% for blog in blog_list[1:] %}
    {% if blog['permission'] == 'public' %}
    <hr />
    <h4><a href="{{ url_for('blog.article',blog_id=blog['_id']) }}" target="_blank">{{ blog['title'] }}</a></h4>
    <p>{{ momentjs(blog['create_time']).format('YYYY-MM-DD HH:mm') }}</p>
    <p>{{ blog['article'] | truncate(150) }}</p>
    {% endif %}
{% endfor %}
{% else %}
<p>还没有文章。</p>
{% endif %}
</div>

{% endblock %}