{% extends "base_logged_in.html" %}
{% block title %}密保问题{% endblock %}
{% block content %}
<h1>密保问题</h1>
<form role="form" action="{{ url_for('profile.validate_password_questions') }}" method="post">
    <div class="form-group">
        {{ form.hidden_tag() }}
    </div>

    <div class="form-group">
        <label>用户名</label>
        {{ form.username(class="form-control",placeholder=form.username.label.text,readonly=readonly) }}
    </div>

    <div class="form-group">
        <label>邮箱</label>
        {{ form.email(class="form-control",placeholder=form.email.label.text,readonly=readonly) }}
    </div>

    {% if form.answer1.errors %}
    <div class="form-group has-error">
        <label>问题1：{{ question1 }}</label>
        {{ form.answer1(class="form-control",placeholder=form.answer1.label.text,autocomplete="off") }}
        <p class="text-danger">
        {% for error in form.answer1.errors %}
            {{ error }}
        {% endfor %}
        </p>
    </div>
    {% else %}
    <div class="form-group">
        <label>问题1：{{ question2 }}</label>
        {{ form.answer1(class="form-control",placeholder=form.answer1.label.text,autocomplete="off") }}
    </div>
    {% endif %}

    {% if form.answer2.errors %}
    <div class="form-group has-error">
        <label>问题2：{{ question2 }}</label>
        {{ form.answer2(class="form-control",placeholder=form.answer2.label.text,autocomplete="off") }}
        <p class="text-danger">
        {% for error in form.answer2.errors %}
            {{ error }}
        {% endfor %}
        </p>
    </div>
    {% else %}
    <div class="form-group">
        <label>问题2：{{ question2 }}</label>
        {{ form.answer2(class="form-control",placeholder=form.answer2.label.text,autocomplete="off") }}
    </div>
    {% endif %}

    <div class="form-group">
        {{ form.submit(class="btn btn-primary form-control") }}
    </div>
</form>

{% endblock %}