{% extends "base_logged_in.html" %}
{% block title %}账户验证{% endblock %}
{% block content %}
<h1>账户验证</h1>
<form role="form" action="{{ url_for('auth.validate_user') }}" method="post">
    <div class="form-group">
        {{ form.hidden_tag() }}
    </div>

    {% if form.username.errors %}
    <div class="form-group has-error">
        <label>用户名</label>
        {{ form.username(class="form-control",placeholder=form.username.label.text) }}
        <p class="text-danger">
        {% for error in form.username.errors %}
            {{ error }}
        {% endfor %}
        </p>
    {% else %}
    <div class="form-group">
        <label>用户名</label>
        {{ form.username(class="form-control",placeholder=form.username.label.text) }}
    </div>
    {% endif %}

    {% if form.email.errors %}
    <div class="form-group has-error">
        <label>邮箱</label>
        {{ form.email(class="form-control",placeholder=form.email.label.text) }}
        <p class="text-danger">
        {% for error in form.email.errors %}
            {{ error }}
        {% endfor %}
        </p>
    {% else %}
    <div class="form-group">
        <label>邮箱</label>
        {{ form.email(class="form-control",placeholder=form.email.label.text) }}
    </div>
    {% endif %}

    <div class="form-group">
        {{ form.submit(class="btn btn-primary form-control") }}
    </div>
</form>

{% endblock %}