{% extends "base_logged_in.html" %}

{% block head %}
    <script src="{{ url_for('static', filename='ckeditor/ckeditor.js') }}"></script>
{% endblock %}

{% block content %}
{% if blog %}
<form action="{{ url_for('blog.article_modify',blog_id=blog['_id']) }}" method="post">
    <div class="form-group">
        {{ form.hidden_tag() }}
    </div>

    {% if form.title.errors %}
    <div class="form-group has-error">
        <label>*文章标题</label>
        {{ form.title(class="form-control",placeholder=form.title.label.text) }}
        <p class="text-danger">
        {% for error in form.title.errors %}
            {{ error }}
        {% endfor %}
        </p>
    </div>
    {% else %}
    <div class="form-group">
        <label>*文章标题</label>
        {{ form.title(class="form-control",placeholder=form.title.label.text) }}
    </div>
    {% endif %}

    <div class="form-group">
        <label>文章内容</label>
        <textarea name="article" id="editor" class="ckeditor">
            {{ blog['article'] }}
        </textarea>
    </div>

    <div class="form-group">
        <p>默认文章权限为<em>私有</em></p>
        <label class="radio-inline">
        {{ form.permission(type="radio",value="public") }}公开
        </label>
        <label class="radio-inline">
        {{ form.permission(type="radio",value="private",checked="checked") }}私有
        </label>
        {% if form.permission.errors %}
        <p class="text-danger">
        {% for error in form.permission.errors %}
            {{ error }}
        {% endfor %}
        </p>
        {% endif %}
    </div>

    <div class="form-group">
        {{ form.submit(class="btn btn-primary") }}
    </div>
</form>

{% else %}
<form action="{{ url_for('blog.article_add') }}" method="post">
    <div class="form-group">
        {{ form.hidden_tag() }}
    </div>

    {% if form.title.errors %}
    <div class="form-group has-error">
        <label>*文章标题</label>
        {{ form.title(class="form-control",placeholder=form.title.label.text) }}
        <p class="text-danger">
        {% for error in form.title.errors %}
            {{ error }}
        {% endfor %}
        </p>
    </div>
    {% else %}
    <div class="form-group">
        <label>*文章标题</label>
        {{ form.title(class="form-control",placeholder=form.title.label.text) }}
    </div>
    {% endif %}

    <div class="form-group">
        <label>文章内容</label>
        <textarea name="article" id="editor" class="ckeditor">
        </textarea>
    </div>

    <div class="form-group">
        <p>默认文章权限为私有</p>
        <label class="radio-inline">
        {{ form.permission(type="radio",value="public") }}公开
        </label>
        <label class="radio-inline">
        {{ form.permission(type="radio",value="private",checked="checked") }}私有
        </label>
        {% if form.permission.errors %}
        <p class="text-danger">
        {% for error in form.permission.errors %}
            {{ error }}
        {% endfor %}
        </p>
        {% endif %}
    </div>

    <div class="form-group">
        {{ form.submit(class="btn btn-primary") }}
    </div>
</form>
{% endif %}
{% endblock %}
