{% extends "base_logged_in.html" %}
{% block title %}{{ blog['title'] }}{% endblock %}
{% block head %}
    <script src="{{ url_for('static', filename='ckeditor-comment/ckeditor.js') }}"></script>
{% endblock %}

{% block content %}

<h2>{{ blog['title'] }}</h2>
<p>
    <span class="fui-user"></span> 作者 <a href="{{ url_for('profile.user',username=blog['author']) }}" target="_blank" ">{{ blog['author'] }}</a>
</p>
<p>
    <span class="fui-plus-circle"></span> 文章创建时间 {{ momentjs(blog['create_time']).format('YYYY-MM-DD HH:mm') }}&nbsp;
    <span class="fui-gear"></span> 上次修改时间 {{ momentjs(blog['last_modify_time']).format('YYYY-MM-DD HH:mm') }}
    <span class="text-warning">
        <span class="fui-alert-circle"></span> {% if blog['permission'] =='public' %}公开{% else %}不公开{% endif %}
    </span>
</p>

{% if current_user.is_authenticated and current_user.username == blog['author'] %}
<p><a href="{{ url_for('blog.article_modify',blog_id=blog['_id']) }}">编辑文章</a> </p>
{% endif %}

<hr />
<div>
    {{ blog['article']|safe }}
</div>
<hr />
<h5>评论区</h5>
{% if comment_list[0] %}
<div class="row">
    {% for comment in comment_list %}
    <div class="col-md-6 col-sm-6">
        <h6>评论给：{{ blog['title'] }}</h6>
        <p>
            <a href="{{ url_for('profile.user',username=comment['author']) }}" target="_blank"><span class="fui-user"></span> {{ comment['author'] }}</a>
            {{ momentjs(comment['create_time']).format('YYYY-MM-DD HH:mm') }}
        </p>
        <p>{{ comment['content'] | safe }}</p>
        {% if current_user.is_authenticated and current_user.username == blog['author'] %}
        <a href="{{ url_for('blog.blog_del_comment',blog_id=blog['_id'],comment_id=comment['_id']) }}" class="text-danger"><span class="fui-cross-circle"></span>删除评论</a>
        {% elif current_user.is_authenticated and current_user.username == comment['author'] %}
        <a href="{{ url_for('blog.blog_del_comment',blog_id=blog['_id'],comment_id=comment['_id']) }}" class="text-danger"><span class="fui-cross-circle"></span>删除评论</a>
        {% endif %}
        <hr />
    </div>
    {% endfor %}
</div>
{% else %}
<h6>- 暂无评论</h6>
{% endif %}

{% if current_user.is_authenticated %}
<h6>添加评论</h6>
<form action="{{ url_for('blog.blog_add_comment',blog_id=blog['_id']) }}" method="post">
    <div class="form-group">
        <textarea name="content" id="editor" class="ckeditor"></textarea>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">提交</button>
    </div>
</form>
{% else %}
<p>想添加评论？请先<a href="{{ url_for('auth.login') }}">登录</a></p>
{% endif %}
{% endblock %}
