{% extends "base_logged_in.html" %}
{% block title %}
    {% if blog %}修改文章
    {% else %}创建文章
    {% endif %}
{% endblock %}
{% block head %}
    <script src="{{ url_for('static', filename='ckeditor-article/ckeditor.js') }}"></script>
{% endblock %}

{% block content %}
{% if blog %}
<form action="{{ url_for('blog.article_modify',blog_id=blog['_id']) }}" method="post">
    <div class="form-group">
        {{ form.hidden_tag() }}
    </div>

    {% if form.title.errors %}
    <div class="form-group has-error">
        <h6>*文章标题</h6>
        {{ form.title(class="form-control",placeholder=form.title.label.text,autocomplete="off") }}
        <small class="text-danger">
        {% for error in form.title.errors %}
            {{ error }}
        {% endfor %}
        </small>
    </div>
    {% else %}
    <div class="form-group">
        <h6>*文章标题</h6>
        {{ form.title(class="form-control",placeholder=form.title.label.text,autocomplete="off") }}
    </div>
    {% endif %}

    <div class="form-group">
        <h6>文章内容</h6>
        <textarea name="article" id="editor" class="ckeditor">
            {{ blog['article'] }}
        </textarea>
    </div>

    <div class="form-group">
        <p>默认文章权限为<span class="text-danger">私有</span></p>
        <label class="radio radio-inline">
        {{ form.permission(type="radio",value="public") }}公开
        </label>
        <label class="radio radio-inline">
        {{ form.permission(type="radio",value="private",checked="checked") }}私有
        </label>
        {% if form.permission.errors %}
        <small class="text-danger">
        {% for error in form.permission.errors %}
            {{ error }}
        {% endfor %}
        </small>
        {% endif %}
    </div>

    <div class="form-group">
        {{ form.submit(class="btn btn-primary") }}
    </div>
</form>

{% else %}
<form action="{{ url_for('blog.article_add') }}" method="post">
    <div class="form-group">
        {{ form.hidden_tag() }}
    </div>

    {% if form.title.errors %}
    <div class="form-group has-error">
        <h6>*文章标题</h6>
        {{ form.title(class="form-control",placeholder=form.title.label.text,autocomplete="off") }}
        <small class="text-danger">
        {% for error in form.title.errors %}
            {{ error }}
        {% endfor %}
        </small>
    </div>
    {% else %}
    <div class="form-group">
        <h6>*文章标题</h6>
        {{ form.title(class="form-control",placeholder=form.title.label.text,autocomplete="off") }}
    </div>
    {% endif %}

    <div class="form-group">
        <h6>文章内容</h6>
        <textarea name="article" id="editor" class="ckeditor">
        </textarea>
    </div>

    <div class="form-group">
        <p>默认文章权限为<span class="text-danger">私有</span></p>
        <label class="radio radio-inline">
        {{ form.permission(type="radio",value="public") }}公开
        </label>
        <label class="radio radio-inline">
        {{ form.permission(type="radio",value="private",checked="checked") }}私有
        </label>
        {% if form.permission.errors %}
        <small class="text-danger">
        {% for error in form.permission.errors %}
            {{ error }}
        {% endfor %}
        </small>
        {% endif %}
    </div>

    <div class="form-group">
        {{ form.submit(class="btn btn-primary") }}
    </div>
</form>
{% endif %}
{% endblock %}
