{% extends "base_logged_in.html" %}

{% block content %}

<h1 class="text-center text-danger">{{ current_user.username }}的文章</h1>
<p><a href="{{ url_for('blog.article_add') }}">+ 增加文章 +</a></p>

{% if blog_list[0] %}
{% for blog in blog_list %}
<hr />
<div>
    <h2>{{ blog['title'] }}</h2>
    <p>
        create {{ momentjs(blog['create_time']).format('YYYY-MM-DD HH:mm') }}
        <span class="text-warning">
        {% if blog['permission'] == 'private' %}
        私密
        {% else %}
        公开
        {% endif%}
        </span>
    </p>
    <p>{{ blog['article'] | truncate(100) }}</p>
    <p>
        <a href="{{ url_for('blog.article',blog_id=blog['_id']) }}" class="btn btn-primary">查看</a>
        <a href="{{ url_for('blog.article_modify',blog_id=blog['_id']) }}" class="btn btn-success">修改</a>
        <a href="{{ url_for('blog.blog_delete',blog_id=blog['_id']) }}" class="btn btn-danger">删除</a>
    </p>
</div>
{% endfor %}
{% else %}
<h3 class="text-info">还没有文章，请添加。</h3>
{% endif %}
{% endblock %}