{% extends 'base_logged_in.html' %}
{% block title %}我的Markdown{% endblock %}
{% block head %}
    <script src="{{ url_for('static',filename='js/Markdown.Converter.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/Markdown.Sanitizer.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/autosize.min.js') }}"></script>
{% endblock %}

{% block content %}
<h4>原生Markdown在线编辑器</h4>
<p><a href="{{ url_for('markdown_page.markdown_introduction') }}" target="_blank">Markdown简明使用指南</a></p>
<div class="row">
    <div class="col-md-6 col-sm-6">
        <h6 class="text-center">编辑</h6>
    </div>
    <div class="col-md-6 col-sm-6">
        <h6 class="text-center">预览</h6>
    </div>
</div>
<form action="{{ url_for('markdown_page.markdown_update') }}" method="post" role="form">
    <div class="form-group">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="form-group">
                    {{ form.content(only_input=True, class="form-control", placeholder=form.content.label.text, style="resize: none;") }}
                    <script>
                        autosize(document.querySelectorAll('textarea'));
                    </script>
                </div>
                <div class="form-group">
                    {% if current_user.is_authenticated %}
                    {{ form.submit(class="btn btn-success") }}
                    {% else %}
                    <p>保存你的Markdown？<a href="{{ url_for('auth.login') }}">登录</a></p>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
            {{ form.content(only_preview=True) }}
            </div>
        </div>
    </div>
</form>
{% endblock %}