{% extends "base.html" %}

{% block content %}
    <script src="//cdn.ckeditor.com/4.5.8/basic/ckeditor.js"></script>

    <h1>{{ blog['title'] }}</h1>
    <h3>{{ blog['author'] }}<small>~{{ blog['create_time'] }}</small></h3>
    <hr />
    <div>
        {{ blog['article']|safe }}
    </div>
    <hr />
    {% if comment_list[0] %}
        <h2>Reviews</h2>
        {% for comment in comment_list %}
        <div>
            <p>{{ comment['author'] }}</p>
            <p>{{ comment['time'] }}</p>
            <p>{{ comment['content']|safe }}</p>
            {% if session.get('logged_in') and session.get('user') == blog['author'] %}
            <a href="{{ url_for('blog.blog_del_comment',blog_id=blog['_id'],comment_id=comment['_id']) }}" class="btn btn-danger">Delete</a>
            {% elif session.get('logged_in') and session.get('user') == comment['author'] %}
            <a href="{{ url_for('blog.blog_del_comment',blog_id=blog['_id'],comment_id=comment['_id']) }}" class="btn btn-danger">Delete</a>
            {% endif %}
        </div>
        {% endfor %}
    {% endif %}

    <h3>添加评论</h3>
    <form action="{{ url_for('blog.blog_add_comment',blog_id=blog['_id']) }}" method="post">
        <textarea name="content" id="editor" class="ckeditor" rows="100" cols="80">
        </textarea>
        <button type="submit" class="btn btn-default">提交</button>
    </form>


    {% if session.get('logged_in') and blog['author'] == session.get('user') %}
        <p class="text-right"><a href="{{ url_for('blog.editor_modify',blog_id=blog['_id']) }}">编辑文章</a> </p>
    {% endif %}

    <p class="text-right"><a href="javascript:history.go(-1)">返回上一页</a> </p>
{% endblock %}