<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href={{ url_for('static', filename='favicon.ico') }} type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href={{ url_for('static',filename='css/bootstrap.min.css') }}>
    <script src="{{ url_for('static',filename='js/jquery-1.12.0.js') }}"></script>
    <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
    {% block head %}
    {% endblock %}
    <title>{% block title %}{% endblock %} - 欢迎来到py的世界</title>
</head>
<body background="static/background/{{ bgname }}">
    <div class="container" style="height: 100%">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                <div class="alert alert-danger" role="alert">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message }}
                </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        {% block content %}
        <div class="vertical-center" style="width: 50%">
            <h3 class="text-center" style="color: white">{{ text }}</h3>
        {% endblock %}
    </div>
</body>
</html>