{% extends "base_logged_in.html" %}

{% block content %}

<h1 class="text-center text-danger">{{ current_user.username }}的文章</h1>

{% if blog_list[0] %}
<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <td>时间</td>
                <td>标题</td>
                <td>操作</td>
            </tr>
        </thead>
        <tbody>
            {% for blog in blog_list %}
            <tr>
                <td style="width: 20%">
                    创建时间：{{ momentjs(blog['create_time']).format('YYYY-MM-DD HH:mm') }}
                    <br />
                    上次修改时间：{{ momentjs(blog['last_modify_time']).format('YYYY-MM-DD HH:mm') }}
                    </td>
                <td style="width: 20%">{{ blog['title'] }}</td>
                <td style="width: 20%">
                    <a href="{{ url_for('blog.article',blog_id=blog['_id']) }}" class="btn btn-primary">查看</a>
                    <a href="{{ url_for('blog.editor_modify',blog_id=blog['_id']) }}" class="btn btn-success">修改</a>
                    <a href="{{ url_for('blog.blog_delete',blog_id=blog['_id']) }}" class="btn btn-danger">删除</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<h3 class="text-info">还没有文章，请添加。</h3>
{% endif %}
<p><a href="{{ url_for('blog.editor_add') }}">+ 增加文章 +</a></p>

{% endblock %}