{% extends "base_not_logged_in.html" %}

{% block content %}
<form role="form" action="{{ url_for('auth.login') }}" method="post">
    <div class="form-group">
        {{ form.hidden_tag() }}
    </div>

    <div class="form-group">
        {% if form.username.errors %}
        <div class="has-error">
            {{ form.username(class="form-control",placeholder=form.username.label.text) }}
            <dl>
                {% for error in form.username.errors %}
                <dd class="text-danger">{{ error }}</dd>
                {% endfor %}
            </dl>
         </div>
        {% else %}
        <div>
            {{ form.username(class="form-control",placeholder=form.username.label.text) }}
        </div>
        {% endif %}

        {% if form.password.errors %}
        <div class="has-error">
            {{ form.password(class="form-control",placeholder=form.password.label.text) }}
            {% for error in form.password.errors %}
            <dl>
                <dd class="text-danger">{{ error }}</dd>
            </dl>
            {% endfor %}
         </div>
        {% else %}
        <div>
            {{ form.password(class="form-control",placeholder=form.password.label.text) }}
        </div>
        {% endif %}

        <div class="checkbox">
            <label>
            {{ form.remember_me }} 记住我
            </label>
        </div>
    </div>

    <div class="form-group">
        {{ form.submit(class="btn btn-primary form-control") }}
    </div>

    <div class="form-group">
        <a class="btn btn-default" href="{{ url_for('auth.register') }}" role="button">还没有账号？</a>
    </div>
</form>

{% endblock %}
