<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href={{ url_for('static', filename='favicon.ico') }} type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href={{ url_for('static',filename='bootstrap.css') }}>
    <script src="{{ url_for('static',filename='jquery-1.12.0.js') }}"></script>
    <script src="{{ url_for('static',filename='bootstrap.js') }}"></script>
    <title></title>
</head>
<body background="{{ url_for('static',filename='background/18.jpg') }}">
    <div class="container" style="width: 20%">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                <div class="alert alert-danger" role="alert">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message }}
                </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <form role="form" action="{{ url_for('auth.register') }}" method="post">
            <div class="form-group">
                {{ registerform.hidden_tag() }}
            </div>

            {% if registerform.email.errors %}
            <div class="form-group has-error">
                {{ registerform.email(class="form-control",placeholder=registerform.email.label.text) }}
                <dl>
                    {% for error in registerform.email.errors %}
                    <dd class="text-danger">{{ error }}</dd>
                    {% endfor %}
                </dl>
             </div>
            {% else %}
            <div class="form-group">
                {{ registerform.email(class="form-control",placeholder=registerform.email.label.text) }}
            </div>
            {% endif %}

            {% if registerform.username.errors %}
            <div class="form-group has-error">
                {{ registerform.username(class="form-control",placeholder=registerform.username.label.text) }}
                <dl>
                    {% for error in registerform.username.errors %}
                    <dd class="text-danger">{{ error }}</dd>
                    {% endfor %}
                </dl>
             </div>
            {% else %}
            <div class="form-group">
                {{ registerform.username(class="form-control",placeholder=registerform.username.label.text) }}
            </div>
            {% endif %}

            {% if registerform.password.errors %}
            <div class="form-group has-error">
                {{ registerform.password(class="form-control",placeholder=registerform.password.label.text) }}
                <dl>
                    {% for error in registerform.password.errors %}
                    <dd class="text-danger">{{ error }}</dd>
                    {% endfor %}
                </dl>
             </div>
            {% else %}
            <div class="form-group">
                {{ registerform.password(class="form-control",placeholder=registerform.password.label.text) }}
            </div>
            {% endif %}

            {% if registerform.password2.errors %}
            <div class="form-group has-error">
                {{ registerform.password2(class="form-control",placeholder=registerform.password2.label.text) }}
                <dl>
                    {% for error in registerform.password2.errors %}
                    <dd class="text-danger">{{ error }}</dd>
                    {% endfor %}
                </dl>
             </div>
            {% else %}
            <div class="form-group">
                {{ registerform.password2(class="form-control",placeholder=registerform.password2.label.text) }}
            </div>
            {% endif %}

            <div class="form-group">
                {{ registerform.submit(class="btn btn-info", style="width: 100%") }}
            </div>

            <div class="form-group">
                <a class="btn btn-default" href="{{ url_for('auth.login') }}" role="button">已有账号？</a>
            </div>
        </form>
    </div>
</body>
</html>