{% extends "base_logged_in.html" %}

{% block content %}

{% if current_user.username == user['username'] %}
    {% if user['password_questions'][0] == {} or user['password_questions'][1] == {} %}
    <p class="text-danger">您还没有设置密保问题，这将导致您无法进行密码找回！</p>
    {% endif %}
    <p>hi, {{ user.username }}</p>
    <p>注册邮箱 {{ user.email }}</p>
    <p>上次登录时间 {{ momentjs(user.last_login_time).format('YYYY-MM-DD HH:mm') }}</p>
    <p>注册时间 {{ momentjs(user.register_time).format('YYYY-MM-DD HH:mm') }}</p>
    <p>权限
        {% if user.permission == 5 %}<span class="text-info">普通用户</span>{% endif %}
        {% if user.permission == 9 %}<span class="text-danger">管理员</span>{% endif %}
    </p>
    {% if user.location %}
        <p>位置 <a href="http://ditu.amap.com/search?query={{ user.location }}" target="_blank">{{ user.location }}</a></p>
    {% endif %}
    <p>个人简介 {{ user.about_me }}</p>
    <p>关注列表</p>
    {% if user.following[0] %}
    {% for u in user.following %}
    <p><a href="{{ url_for('profile.user',username=u) }}" target="_blank">{{ u }}</a><a href="{{ url_for('profile.unfollow',username=u) }}" class="btn btn-default">取消关注</a></p>
    {% endfor %}
    {% else %}
    <p>还没有关注任何人。</p>
    {% endif %}
    <p>文章列表</p>
    {% if blog_list[0] %}
    {% for blog in blog_list %}
    <p><a href="{{ url_for('blog.article',blog_id=blog['_id']) }} " target="_blank">{{ blog['title'] }}</a></p>
    {% endfor %}
    {% else %}
    <p>还没有文章。</p>
    {% endif %}
{% else %}
    {% if user['username'] in current_user.following %}
    <a href="{{ url_for('profile.unfollow',username=user['username']) }}" class="btn btn-default">取消关注</a>
    {% else %}
    <a href="{{ url_for('profile.follow',username=user['username']) }}" class="btn btn-success">关注</a>
    {% endif %}

    <p>{{ user['username'] }}</p>
    <p>个人简介 {{ user.about_me }}</p>

    {% if user.location %}
        <p>位置 <a href="http://ditu.amap.com/search?query={{ user.location }}" target="_blank">{{ user.location }}</a></p>
    {% endif %}

    {% if user.following[0] %}
    <p>正在关注：</p>
    {% for u in user.following %}
    <p><a href="{{ url_for('profile.user',username=u) }}">{{ u }}</a></p>
    {% endfor %}
    {% else %}
    <p>还没有关注任何人。</p>
    {% endif %}

    <p>文章列表</p>
    {% if blog_list[0] %}
    {% for blog in blog_list %}
        {% if blog['permission'] == 'public' %}
        <p><a href="{{ url_for('blog.article',blog_id=blog['_id']) }}">{{ blog['title'] }}</a></p>
        {% endif %}
    {% endfor %}
    {% else %}
    <p>还没有文章.</p>
    {% endif %}
{% endif %}
{% endblock %}